﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1254px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:399px;
  height:14px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:226px;
  width:393px;
  height:8px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:63px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:389px;
  width:8px;
  height:57px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:410px;
  height:14px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:383px;
  width:404px;
  height:8px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:117px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:232px;
  width:8px;
  height:111px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:175px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:443px;
  width:8px;
  height:169px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:440px;
  height:14px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:605px;
  width:434px;
  height:8px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:14px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:438px;
  width:89px;
  height:8px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:140px;
  height:44px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:232px;
  width:130px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:36px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:126px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:142px;
  height:44px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:232px;
  width:132px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:128px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:134px;
  height:44px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:232px;
  width:124px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:120px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:88px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:265px;
  width:42px;
  height:78px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:38px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:78px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:263px;
  width:42px;
  height:68px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:38px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:67px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:215px;
  width:42px;
  height:57px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:66px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:108px;
  width:42px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:65px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:162px;
  width:42px;
  height:55px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:75px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:200px;
  width:42px;
  height:65px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:38px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:72px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:141px;
  width:42px;
  height:62px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:38px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:140px;
  height:44px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:571px;
  width:130px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:36px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:126px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:94px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:466px;
  width:42px;
  height:84px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:38px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:101px;
  height:48px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:345px;
  width:92px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:72px;
  height:63px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:398px;
  width:63px;
  height:54px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:198px;
  height:63px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:398px;
  width:189px;
  height:54px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:72px;
  height:63px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:274px;
  width:63px;
  height:54px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:87px;
  height:62px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:47px;
  width:78px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:171px;
  height:119px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:47px;
  width:165px;
  height:113px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:161px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:174px;
  height:48px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:47px;
  width:165px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:72px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:47px;
  width:120px;
  height:66px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:72px;
  height:82px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:112px;
  width:63px;
  height:73px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:265px;
  height:53px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:182px;
  width:256px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:90px;
  height:59px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:44px;
  width:81px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:72px;
  height:69px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:166px;
  width:63px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:59px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:165px;
  height:58px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:272px;
  width:161px;
  height:54px;
  font-size:72px;
  color:#CC0000;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:127px;
  height:44px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:47px;
  width:118px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:72px;
  height:63px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:552px;
  width:63px;
  height:54px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u35p000 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:28px;
  width:72px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u35p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:80px;
  height:12px;
}
#u35.compound {
  width:0px;
  height:0px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:330px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:68px;
}
#u36p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(115deg);
  -moz-transform:rotate(115deg);
  -ms-transform:rotate(115deg);
  transform:rotate(115deg);
}
#u36p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u36.compound {
  width:0px;
  height:0px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:334px;
  width:29px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u37p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u37p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u37.compound {
  width:0px;
  height:0px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:332px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u38p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u38p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u38.compound {
  width:0px;
  height:0px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:332px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u39p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u39p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u39.compound {
  width:0px;
  height:0px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:340px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u40p000 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:28px;
  width:72px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u40p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:80px;
  height:12px;
}
#u40.compound {
  width:0px;
  height:0px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:330px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u41p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u41p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u41.compound {
  width:0px;
  height:0px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:330px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:37px;
  height:68px;
}
#u42p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(115deg);
  -moz-transform:rotate(115deg);
  -ms-transform:rotate(115deg);
  transform:rotate(115deg);
}
#u42p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u42.compound {
  width:0px;
  height:0px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:332px;
  width:28px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u43p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u43p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u43.compound {
  width:0px;
  height:0px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:330px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u44p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u44p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u44.compound {
  width:0px;
  height:0px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:330px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:71px;
}
#u45p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:72px;
  height:4px;
  -webkit-transform:rotate(115deg);
  -moz-transform:rotate(115deg);
  -ms-transform:rotate(115deg);
  transform:rotate(115deg);
}
#u45p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:80px;
  height:12px;
}
#u45.compound {
  width:0px;
  height:0px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:332px;
  width:30px;
  height:62px;
  text-decoration:underline;
  line-height:48px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:68px;
}
#u46p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u46p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u46.compound {
  width:0px;
  height:0px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:332px;
  width:29px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u47p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u47p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u47.compound {
  width:0px;
  height:0px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:332px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u48p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u48p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u48.compound {
  width:0px;
  height:0px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:332px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u49p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u49p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u49.compound {
  width:0px;
  height:0px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:330px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u50p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u50p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u50.compound {
  width:0px;
  height:0px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:332px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u51p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u51p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u51.compound {
  width:0px;
  height:0px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:334px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u52p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u52p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u52.compound {
  width:0px;
  height:0px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:332px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u53p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:28px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u53p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u53.compound {
  width:0px;
  height:0px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:332px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:70px;
}
#u54p000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:40px;
  height:4px;
  -webkit-transform:rotate(115deg);
  -moz-transform:rotate(115deg);
  -ms-transform:rotate(115deg);
  transform:rotate(115deg);
}
#u54p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:48px;
  height:12px;
}
#u54p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:34px;
  height:4px;
  -webkit-transform:rotate(116deg);
  -moz-transform:rotate(116deg);
  -ms-transform:rotate(116deg);
  transform:rotate(116deg);
}
#u54p001_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:42px;
  height:12px;
}
#u54.compound {
  width:0px;
  height:0px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:331px;
  width:30px;
  height:61px;
  text-decoration:underline;
  line-height:48px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u55p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:27px;
  width:68px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u55p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:12px;
}
#u55.compound {
  width:0px;
  height:0px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:333px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:68px;
}
#u56p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:70px;
  height:4px;
  -webkit-transform:rotate(117deg);
  -moz-transform:rotate(117deg);
  -ms-transform:rotate(117deg);
  transform:rotate(117deg);
}
#u56p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:78px;
  height:12px;
}
#u56.compound {
  width:0px;
  height:0px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:334px;
  width:30px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:68px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:552px;
  width:1px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:50px;
}
#u58p000 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:18px;
  width:50px;
  height:4px;
  -webkit-transform:rotate(118deg);
  -moz-transform:rotate(118deg);
  -ms-transform:rotate(118deg);
  transform:rotate(118deg);
}
#u58p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:58px;
  height:12px;
}
#u58.compound {
  width:0px;
  height:0px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:352px;
  width:22px;
  height:41px;
  text-decoration:underline;
  line-height:48px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:53px;
}
#u59p000 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:20px;
  width:52px;
  height:4px;
  -webkit-transform:rotate(112deg);
  -moz-transform:rotate(112deg);
  -ms-transform:rotate(112deg);
  transform:rotate(112deg);
}
#u59p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:12px;
}
#u59.compound {
  width:0px;
  height:0px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:332px;
  width:18px;
  height:44px;
  text-decoration:underline;
  line-height:48px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:50px;
  height:14px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:326px;
  width:44px;
  height:8px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:105px;
  height:14px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:220px;
  width:99px;
  height:8px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:39px;
  height:71px;
}
#u62p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:28px;
  width:72px;
  height:4px;
  -webkit-transform:rotate(115deg);
  -moz-transform:rotate(115deg);
  -ms-transform:rotate(115deg);
  transform:rotate(115deg);
}
#u62p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:80px;
  height:12px;
}
#u62.compound {
  width:0px;
  height:0px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:332px;
  width:30px;
  height:62px;
  text-decoration:underline;
  line-height:48px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:56px;
  height:68px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:552px;
  width:47px;
  height:59px;
  text-decoration:underline;
  line-height:48px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:48px;
  height:14px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:604px;
  width:42px;
  height:8px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:48px;
  height:50px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:192px;
  width:39px;
  height:41px;
  text-decoration:underline;
  line-height:48px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:46px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:192px;
  width:1px;
  height:37px;
  text-decoration:underline;
  line-height:48px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:47px;
  height:50px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:291px;
  width:38px;
  height:41px;
  text-decoration:underline;
  line-height:48px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:50px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:291px;
  width:1px;
  height:41px;
  text-decoration:underline;
  line-height:48px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:43px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:340px;
  width:27px;
  height:34px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  text-decoration:underline;
  line-height:48px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:10px;
  height:41px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:328px;
  width:1px;
  height:32px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  text-decoration:underline;
  line-height:48px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:27px;
  height:15px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:376px;
  width:21px;
  height:9px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:54px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:570px;
  width:26px;
  height:50px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:58px;
  height:14px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:369px;
  width:52px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:29px;
}
#u74p000 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:9px;
  width:26px;
  height:2px;
  -webkit-transform:rotate(118deg);
  -moz-transform:rotate(118deg);
  -ms-transform:rotate(118deg);
  transform:rotate(118deg);
}
#u74p000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:10px;
}
#u74.compound {
  width:0px;
  height:0px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:373px;
  width:11px;
  height:20px;
  text-decoration:underline;
  line-height:48px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:315px;
  height:14px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:327px;
  width:309px;
  height:8px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:398px;
  height:14px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:391px;
  width:392px;
  height:8px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:572px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:47px;
  width:8px;
  height:566px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:294px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:44px;
  width:8px;
  height:288px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:14px;
  height:358px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:39px;
  width:8px;
  height:352px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:935px;
  height:14px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:39px;
  width:929px;
  height:8px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:190px;
  height:220px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:406px;
  width:181px;
  height:211px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:49px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:418px;
  width:82px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:28px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:430px;
  width:50px;
  height:24px;
  font-size:20px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:50px;
  height:92px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:446px;
  width:40px;
  height:82px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:28px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:473px;
  width:50px;
  height:24px;
  font-size:20px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:49px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:515px;
  width:82px;
  height:40px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:28px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:524px;
  width:50px;
  height:24px;
  font-size:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:42px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:561px;
  width:82px;
  height:33px;
  font-size:48px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:28px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:566px;
  width:62px;
  height:24px;
  font-size:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:228px;
  height:447px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:66px;
  width:222px;
  height:441px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
