



.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.form-control-feedback{
  margin-right:10px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
  .item {
            color:#3b5998;

        display:block;
        background:rgba(237,239,245,.98);
        list-style:none;
        margin:0;
        padding:12px 10px;
        height:auto;
    }
  
  .item  a {
        color:#3b5998;
        text-decoration:none;
        padding:6px 15px;
        cursor:pointer;
        font:13px helvetica;
        font-weight:bold;
        margin:3px 0;
    }

    .item:hover a{
            
            color:#fff;

    }
    .item:hover {
         
         color:#fff;

        background:#425B90;
        text-decoration:none;
        cursor:pointer;
    }
       
    #noti_Container {
            margin-top: 15px;
    }


.fa-bell-o:before {
    font-size: x-large;
    content: "\f0a2";
}
       
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
       
        margin:-3px 10px 0 10px;
        cursor:pointer;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:-8px 0 0 25px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:430px;
        position:absolute;
        top:30px;
         margin-left: -340px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 1000;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left: 340px;    }
        
    h3 {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
        
        #blah {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
  #blahview {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }
    .dtb
    {
      margin-left: 100%;
    }
body{

      font-family: 'zocial', sans-serif;
      background-color: #f6f1ed
;
   }

.chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    padding: 6px 12px;
}
.chosenContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}




   tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
 thead input {
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
    }
.footer {
            position: absolute;
             text-align: center;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 5%;
            background-color: #f5f5f5;
        }
        .wrapper{
          width:75%;
          margin: 0 auto;
          background: #eee;
        }
        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #090450;
}



.Absolute-Center {
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

 .badge-important{
  background-color:red;
}
#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/100x30/000000/ffffff/&text=BRAND+LOGO');
}